<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--写入文件-->

    <!--系统日志--><!--
    <target xsi:type="File" name="fsystem" fileName="${basedir}/Logs/SystemLogs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="${longdate} ${uppercase:${level}}:${stacktrace}, ${message}" />

    --><!--任务实时日志 --><!--
    <target xsi:type="File" name="ftask"
            fileName="${basedir}/Logs/TaskLogs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="${longdate} ${uppercase:${level}}:${stacktrace}, ${message}" />

    --><!--任务统计日志 --><!--
    <target xsi:type="File" name="ftaskStatistics"
            fileName="${basedir}/Logs/TaskLogs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="${longdate} ${uppercase:${level}}:${stacktrace}, ${message}" />

    --><!--常规日志--><!--
    <target xsi:type="File" name="listen" fileName="${basedir}/Logs/ListenerCommandLogs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="${longdate} ${uppercase:${level}}:${stacktrace}, ${message}" />-->

    <!--常规日志 日志文件也可以基于时间设置自动存档。下面的配置将在每天的开始时刻里将日志文件存档，
    并且使用滚动文件命名方式。因此，前一天的日志可以在文件archives/log.0.txt文件中找到，再前一天的数据可以在archives/log.1.txt文件中找到，
    以此类推。此配置将保存最近的7个存档文件，因此，早于当前时间30天的日志数据将被删除。-->
    <!--archiveFileName="${basedir}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"-->
    <target xsi:type="File" name="f" 
            fileName="${basedir}/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="${longdate} ${uppercase:${level}}, ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" writeTo="f" />
    <!--<logger name="*" level="Debug"   writeTo="listen"></logger>

    <logger name="*" level="Info"  writeTo="listen"></logger>

    <logger name="*" level="Trace"  writeTo="listen"></logger>

    <logger name="*" level="Warn"  writeTo="listen"></logger>


    <logger name="*" level="Fatal"  writeTo="listen"></logger>-->
  </rules>
</nlog>